{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'admin_cms/logos/cinema_popcorn.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="wrapper">

        <!-- Header -->
        <nav class="main-header navbar navbar-expand navbar-dark">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="theme-switch-wrapper nav-link">
                        <img src="{% static 'admin_cms/logos/cinema-logo.png' %}" alt="logo" style="height: 35px;">
                    </div>
                </li>
            </ul>

        </nav>


        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

          <!-- Brand Logo -->
          <a href="#" class="brand-link">
            <img src="{% static 'admin_cms/logos/../../../static/admin_cms/logos/cinema_popcorn.svg' %}"
                 alt="Kino" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">KinoCMS</span>
          </a>

          <!-- Sidebar -->
          <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">

              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th">

                    </i>
                    <p>
                      Статистика
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th">

                    </i>
                    <p>
                      Баннера/Слайдери
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link {% if curr_page == 'films' %}active{% endif %}">
                    <i class="nav-icon fas fa-th">

                    </i>
                    <p>
                      Фільми
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'cinema' %}" class="nav-link {% if curr_page == 'cinema'  %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt">
                        <img src="{% static 'admin_cms/logos/cinema-logo.png' %}" alt="" style="height: 20px;">
                    </i>
                      <p>Кінотеатри</p>
                  </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Новини</p>
                    </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th">

                    </i>
                    <p>Акції</p>
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </aside>


        <div class="content-wrapper px-4 py-2" style="min-height: 481px;">
                <div class="content px-2">
        {% block content %}

        {% endblock content %}
                </div>
        </div>
    </div>
    <script src="{% static 'admin_cms/javascript/script.js' %}"></script>
</body>
</html>