{% extends 'admin_cms/base.html' %}
{% load static %}

{% block content %}

    <a class="btn btn-success float-right text-light" href="{% url 'cinema_create' %}">Створити кінотеатр</a>

    {% if cinema_list|length == 0 %}
        <div class="content" style="padding-top: 15%;">
            <h1>Поки що не існує жодного кінотеатру, але ви можете виправити це</h1>
        </div>
    {% else %}

        <div class="d-flex" style="padding-top: 4%">
            {% for cinema in cinema_list %}
                <div class="d-flex">
                    <div style="position: relative">
                        <a href="{% url 'update_cinema' pk=cinema.id %}">
                            <img class="img-fluid" src="{{ cinema.logo.url }}" alt="cinema_logo" style="width: 295px; height: 255px;">
                        </a>
                        <img class="cancel-button" src="{% static 'admin_cms/logos/cancel-button.png' %}" style="top: -8%; right: -8%;">
                        <p style="text-align: center">{{ cinema.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}