{% extends 'admin_cms/base.html' %}
{% load static %}

{% block content %}

    <div class="content-wrapper px-4 py-2" style="min-height: 481px;">

        <div class="content px-2">

            <form id="cinema-form" action="{% url 'cinema_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                {{ photo_formset.management_form.as_p }}
                <div class="content flex-column" id="photo-form-list" style="padding-top: 2%">
                    <label>Галерея картинок</label> <br>
                    {% for photo_form in photo_formset %}
                        <div class="photo-form flex-column" style="display: inline-block;">
{#                            {{ photo_form.as_p }}#}
                            {% for field in photo_form.visible_fields %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                <input class="form-control" type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% comment %}<div id="empty-form" style="display: none">
                    {{ photo_formset.empty_form.as_p }}
                </div>{% endcomment %}
                <button class="btn btn-primary" id="add-more" type="button">Додати картинку</button>

                <div class="container" style="padding-top: 3%">
                    {{ seo_form.as_p }}
                </div>
                 <button class="btn btn-success" type="submit">Створити</button>
            </form>
        </div>

    </div>

<script>
    const addMoreButton = document.getElementById('add-more');
    const totalPhotoForms = document.getElementById('id_form-TOTAL_FORMS');
    const photoFormList = document.getElementById('photo-form-list');

    addMoreButton.addEventListener('click', add_new_form);

    function add_new_form(event) {
        if (event) {
            event.preventDefault();
        }

        const currentPhotoForms = document.getElementsByClassName('photo-form');
        let currentFormCount = currentPhotoForms.length;
        const photoForm = document.getElementById('empty-form').cloneNode(true);
        {#const regex = RegExp('__prefix__', 'g');#}
        photoForm.setAttribute('class', 'photo-form flex-column');
        photoForm.style.display = 'block';
        photoForm.setAttribute('id', `form-${currentFormCount}`);
        photoForm.setAttribute('for', `form`)
        photoFormList.append(photoForm);
    }

</script>
{% endblock content %}
