{% extends 'admin_cms/base.html' %}
{% load static %}

{% block content-header %}
    <div>
        <h4 class="text-center">Список кінотеатрів</h4>
    </div>
     <a class="btn btn-success float-right" style="margin-right: 3%;" href="{% url 'cinema_create' %}">Створити кінотеатр</a>
{% endblock content-header %}

{% block content %}

    {% if cinema_list|length == 0 %}
        <div class="content" style="padding-top: 15%;">
            <h1>Поки що не існує жодного кінотеатру, але ви можете виправити це</h1>
        </div>
    {% else %}

        <div class="content flex-column" style="padding-top: 75px;">
            {% for cinema in cinema_list %}
                <div style="position: relative; margin-left: 8%; display: inline-block;">
                    <a href="{% url 'update_cinema' pk=cinema.id %}">
                        <img class="img-fluid" src="{{ cinema.logo.url }}" alt="cinema_logo" style="width: 295px; height: 255px;">
                    </a>
                    <a href="{% url 'delete_cinema' pk=cinema.id %}" style="color: black; text-decoration: none;">
                        <img class="cancel-button" src="{% static 'admin_cms/logos/cancel-button.png' %}" style="top: -8%; right: -8%;">
                    </a>
                    <h5 class="text-center" style="margin-top: 2%;">{{ cinema.name }}</h5>
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}